<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pachama</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-green-400 to-blue-500 py-16 text-white">
    <div class="">

    <section class="relative pb-20">
        <nav class="flex justify-between items-center py-8 px-4 xl:px-10">
            <ul class="hidden lg:flex lg:ml-auto lg:mr-12 lg:items-center lg:w-auto lg:space-x-12">
                <li><a class="inline-block py-3 px-8 text-sm leading-normal font-medium bg-green-500 hover:bg-green-600 text-white rounded transition duration-200" href="/login">Login</a></li>
            </ul>
            <div class="hidden lg:block">
                <a class="inline-block py-3 px-8 text-sm leading-normal font-medium bg-green-500 hover:bg-green-600 text-white rounded transition duration-200" href="/register">
                    Registrarse
                </a>
            </div>
        </nav>
        <div class="relative container pt-12 px-4 mx-auto text-center">
            <span class="text-white-600 font-semibold">Sistema de Recomendación</span>
            <h2 class="mt-8 mb-8 lg:mb-12 text-4xl lg:text-6xl font-semibold">Pachama Experience</h2>
            <p class="max-w-3xl mx-auto mb-8 lg:mb-12 text-xl text-black">
                ¡Bienvenidos a "Pachama Experience"! Sumérgete en un viaje auténtico por Ecuador. Descubre tesoros escondidos y vive experiencias únicas. Conecta con la Pachamama y vive la magia de este hermoso país. ¡Te esperamos para una aventura inolvidable!
            </p>
            <a class="inline-block w-full md:w-auto mb-2 md:mb-0 px-8 py-4 mr-4 text-sm font-medium leading-normal bg-green-500 hover:bg-green-600 text-white rounded transition duration-200" href="/register">
                Comienza ahora
            </a>
        </div>

        <section class="bg-gradient-to-r from-green-400 to-blue-500 py-16 text-white">
            <div class="container mx-auto px-4">
                <h1 class="text-4xl md:text-5xl lg:text-6xl font-semibold mb-6">¡Descubre la magia de Ecuador!</h1>
                <p class="max-w-3xl mx-auto text-lg md:text-xl">Explora la diversidad de paisajes, culturas y aventuras que Pachamama tiene para ofrecer.</p>
            </div>
        </section>
        
        <footer class="bg-gradient-to-r from-green-400 to-blue-500 py-16 text-white">
            <div class="container mx-auto px-4">
                <p class="text-center text-sm">&copy; 2023 Pachama Experience. Todos los derechos reservados.</p>
            </div>
        </footer>
        
    </section>
    </div>
</body>
</html>
